* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  width: 950px;
  margin: auto;
}
h1 {
  text-align: center;
  margin: 40px 0;
}
h1 .bottom_line {
  width: 35px;
  height: 4px;
  margin: 20px auto;
  background-color: #000;
}
.nav_bar {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.nav_bar a {
  text-decoration: none;
  width: 17.5%;
  padding: 5px;
  color: #555;
  font-size: 20px;
  border: 1px dotted;
  border-bottom: 2px solid #a00;
}
.intr {
  margin-top: 100px;
}
.intr .intr_block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
  letter-spacing: 0.5px;
}
/* .intr .intr_block:nth-child(1) {
  background-color: pink;
} */
.intr .intr_block:nth-child(even) {
  flex-direction: row-reverse;
}
.intr .intr_block .wrap {
  display: flex;
  justify-content: space-between;
}
.intr .intr_block .wrap .grey_block {
  width: 45%;
  height: 300px;
  background-color: #f3f3f3;
}
.intr .intr_block .wrap .txt_for_item {
  z-index: 3;
  width: 36%;
  color: #fff;
  font-weight: 100;
  background-color: #000;
}
.intr .intr_block .wrap .txt_for_item h2 {
  background-color: #b00;
  font-size: 50px;
  font-weight: normal;
}
.intr .intr_block .wrap .txt_for_item h2 span.item {
  display: inline-block;
  font-size: 120px;
  transform: rotate(90deg);
  align-items: flex-end;
}
.intr .intr_block .wrap .txt_for_item .item_info {
  margin: 20px;
}
.intr .intr_block .wrap .txt_for_item h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.intr .intr_block .wrap .txt_for_item p {
  font-size: 20px;
}
/* 一個position */
.intr .intr_block .main_pic {
  z-index: 2;
  position: relative;
  left: 20%;
  bottom: 242px;
}
.intr .intr_block .main_pic img.main {
  width: 100%;
}
/* 一個position */
.intr .intr_block .main_pic img.fa-youtube {
  width: 8%;
  position: absolute;
  right: -15px;
  top: 55%;
}
/* 一個position */
.intr .intr_block .main_pic .detail_intr {
  width: 95%;
  padding: 20px;
  background-color: #f3f3f3;
  position: absolute;
  left: -20%;
  top: 91%;
}
.intr .intr_block .detail_intr h3.red_title {
  background-color: #f3f3f3;
  color: #c00;
  font-weight: 900;
  margin-bottom: 10px;
}
.intr .intr_block .detail_intr h3 {
  background-color: #000;
  color: #fff;
  width: fit-content;
  font-weight: normal;
  padding: 1px 7.5px;
}
.intr .intr_block .detail_intr ul {
  list-style: none;
  margin-left: 20px;
  font-size: 14px;
}
.intr .intr_block .detail_intr ul li {
  margin: 5px 0 5px 5px;
  text-indent: -12px;
}
.intr .intr_block .detail_intr ul li::before {
  content: "▝";
  color: #f00;
  font-size: 9px;
}
