* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  width: 960px;
  margin: auto;
}
h1 {
  text-align: center;
  margin: 40px;
}
h1 .bottom_line {
  width: 35px;
  height: 4px;
  margin: 20px auto;
  background-color: #000;
}
.nav_bar {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.nav_bar a {
  text-decoration: none;
  width: 166px;
  padding: 5px;
  color: #555;
  font-size: 20px;
  border: 1px dotted;
  border-bottom: 2px solid #a00;
}
.intr .intr_block {
  margin-bottom: 75px;
  letter-spacing: 0.5px;
  position: relative;
}
.even {
  direction: rtl;
}
/* 一個relative */
.intr .intr_block .txt_for_item {
  direction: ltr;
  z-index: 3;
  width: 350px;
  color: #fff;
  position: relative;
  font-weight: 100;
}
.intr .intr_block .txt_for_item h2 {
  background-color: #b00;
  font-size: 50px;
  padding: 10px;
  font-weight: normal;
}
.intr .intr_block .txt_for_item h2 span.item_num {
  display: inline-block;
  font-size: 120px;
  transform: rotate(90deg);
}
/* 一個absolute */
.intr .intr_block .txt_for_item .item_info {
  background-color: #000;
  position: absolute;
  padding: 10px;
}
.intr .intr_block .txt_for_item h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.intr .intr_block .txt_for_item p {
  font-size: 20px;
}
.intr .intr_block .main_pic {
  width: 700px;
}
.intr .odd .main_pic {
  margin-left: auto;
  margin-right: 50px;
}
.intr .even .main_pic {
  margin-right: auto;
  margin-left: -20px;
}
.intr .intr_block .main_pic a {
  display: flex;
  align-items: center;
}
.intr .intr_block .main_pic img.main {
  z-index: 2;
  vertical-align: middle;
  margin-right: -20px;
}
.even .main_pic img.main {
  margin-left: -20px;
}
.intr .intr_block .main_pic .rect {
  z-index: 3;
  vertical-align: middle;
  height: fit-content;
  background-color: #f00;
  border: 10px solid #f00;
  margin-bottom: 50px;
}
.intr .intr_block .main_pic .rect .tria {
  margin: auto;
  width: 0px;
  height: 0px;
  background-color: #f00;
  border-top: 5px solid #0f00;
  border-left: 10px solid #fff;
  border-bottom: 5px solid #00f0;
}
/* 一個relative */
.intr .intr_block .detail_intr {
  direction: ltr;
  background-color: #f3f3f3;
  width: 640px;
  padding: 10px;
  margin-left: 10px;
  padding-top: 1em;
  position: relative;
  z-index: 3;
  bottom: 20px;
}
.intr .intr_block .detail_intr .slg {
  display: flex;
  align-items: center;
}
.intr .intr_block .detail_intr .slg::after {
  content: "";
  width: 10px;
  height: 1.5px;
  background-color: #c00;
  flex-grow: 1;
  margin-left: 1em;
}
.intr .intr_block .detail_intr h3 {
  background-color: #000;
  color: #fff;
  width: fit-content;
  padding: 6px;
}
.intr .intr_block .detail_intr .item:nth-child(n + 2 of .item) {
  margin-top: 1em;
}
.intr .intr_block .detail_intr .item {
  color: #666;
  margin-left: 20px;
  font-size: 14px;
}
/* 一個relative */
.intr .intr_block .detail_intr .item p::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: #f00;
  position: relative;
  left: 0;
  top: 4px;
  border-radius: 50%;
  scale: 0.3;
}
.intr .intr_block .detail_intr .item p {
  padding-left: 1em;
  text-indent: -1em;
}
.intr .intr_block .grey_block {
  z-index: 1;
  margin-top: 40px;

  background-color: #f3f3f3;
}
/* 一個absolute */
.even .grey_block {
  width: 500px;
  height: 400px;
  position: absolute;
  right: 20%;
  top: 0;
}
/* 一個absolute */
.odd .grey_block {
  width: 400px;
  height: 300px;
  position: absolute;
  right: 0;
  top: 0;
}
